@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">iPPi Chatbot</h1>
    <p>
        The previous decade saw the emergence of chatbots and has led all the tech giants on a race
        into finding and developing their own versions of chatbots and virtual assistants. Chatbots are
        becoming increasingly popular and businesses are seemingly gaining an edge by employing
        chatbots on any or all of their client-facing platforms. Apart from providing a competitive
        advantage, chatbots have automated a lot of existing processes and facilitated the means for
        new processes in areas like marketing and customer-relations.
    </p>
    <p>
        This project intends to build a simple chatbot, on top of the existing iPPi platform, owned by
        4Property, Ireland. The major purpose of this chatbot is to enable the application to manage
        and clean data obtained by crawling and parsing through government and other public websites.
        We intend to collect the missing data and enable correction of erroneous data by obtaining it
        from the user accessing the application by means of this chatbot. Apart from this, we also plan
        to use the bot to perform tasks like answering simple user queries, enabling a fastened property
        valuation process and feedback collection.
    </p>
    <p>
        This application aims to capture all the scenarios as displayed in the navigation bar, and provide 
        the user with a clear picture of the conversation and the interaction involved in each of the scenario.
        Proceed through each bar to clearly understand the context of conversation for each of the scenarios.
    </p>
</div>
