
@{
    ViewData["Title"] = "Missing";
}

    <div ng-controller="missing">
        <h1>Missing Data</h1>
        <p>
            When the user is going through the sold history tab on iPPi, and he/she comes across a property
            with any of the mandatory datapoints (Property Location, Number of beds and property type) 
            missing, the chatbot will immediately prompt the user and have the following conversation with him/her.
        </p>
        <partial name="~/Views/Shared/botWindow.cshtml" />
    </div>


