
@{
    ViewData["Title"] = "PreReg";
}

<div ng-controller="preReg">
   <h1>Pre-Registration</h1>
    <p>
        This conversation takes place when the user is visiting iPPi for the first time or is browsing 
        the application without logging in. The system assumes that the user has not registered yet and 
        has the following conversation with him and collects all the relevant data from the user.
    </p>
    <partial name="~/Views/Shared/botWindow.cshtml" />
</div>


