
@{
    ViewData["Title"] = "Value";
}

    <div ng-controller="value">
        <h1>Property Valuation</h1>
        <p>
            This interaction happens when the user wants to perform a quick property valuation and get 
            an estimate for some property. The bot gathers all the necessary data from the user and finally
            provides the user an estimate for the property. Currently, as we do not have access to iPPi's server,
            the bot gives the user a dummy value for the property and it is not an accurate value.
        </p>
        <partial name="~/Views/Shared/botWindow.cshtml" />
    </div>

