/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@keyframes blinker {
    from{
        background:white;
        border-color:black;
        color:black;
    }
    to {
        background: #fc035e;
        border-color: #fc035e;
        color: white;
    }
    }

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.iPPiNav {
    background-color: #1d2e60;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

#iPPiLogo {
  height: 40px;
  width: 35px;
  padding: 5px;
}

#botClosed {
  position: fixed;
  bottom: 110px;
  right: 70px;
  font-size: 30px;
  background-color: #fc035e;
  border-radius: 80%;
  height: 60px;
  width: 60px;
  padding-top: 4px;
  padding-left: 11px;
  color: white;
  cursor: pointer;
}

#botNotification {
  position: fixed;
  bottom: 180px;
  right: 30px;
  border: 1px #fc035e solid;
  border-radius: 5%;
  padding: 5px;
  animation: blinker 1s linear;
  animation-iteration-count: 3;
  cursor: pointer;
}

#chatWindow {
  position: fixed;
  bottom: 70px;
  right: 30px;
  height: 465px;
  width: 330px;
}

#chatbotTitle {
  height: 15%;
  background-image: linear-gradient(to right, #fc035e, #f5183d);
}

#botLogoText{
  padding: 11px;
}

#botLogo {
  height: 45px;
  width: 45px;
  background-color: white;
  border-radius: 60%;
  padding-left: 3px;
  padding-top: 2px;
  float: left;
}

#iPPiBotText {
  float: left;
  padding: 10px;
  color: white;
}

#closeWindow {
  color: white;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: normal;
}

#closeWindow:hover {
  background-color: #fc035e;
}

#convoBox {
  height: 75%;
  border: 1px whiteSmoke solid;
  max-height: 100%;
  overflow: auto; 
}

#botInput{
  height: 10%;
}

#userInput{
  height: 100%;
  width: 90%;
  border: 1px whitesmoke solid;
  background-color: whitesmoke;
}

#submitBtn {
  height: 100%;
  width: 10%;
  background-color: whitesmoke;
  color: grey;
  float: right;
  padding-left: 9px;
  padding-top: 10px;
  cursor: pointer;
}

#submitBtn:active{
  background-color: white;
  color: black;
}

.botMessage{
  float: left;
  width: 100%;
}

.userMessage{
  float: right;
}

.question {
  margin: 10px;
  padding: 10px;
  width: 50%;
  background-color: whitesmoke;
  border-radius: 15%;
}

.response {
  margin: 10px;
  padding: 10px;
  background-color: #fc035e;
  border-radius: 15%;
  color: white;
}

label{
  width: 100%;
}

#questionLabel{
  margin-bottom: 10px;
}

.selectBox{
  overflow-x: auto;
  overflow-y: auto;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
