@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "botWindow";
}

<div id="botNotification" ng-if="requestDone" ng-click="toggleChatWindow()">
    You have a new message. Click Here!!
</div>
<div id="botClosed" ng-if="chatClosed" ng-click="toggleChatWindow()">
    <i class="fas fa-robot"></i>
</div>
<div id="chatWindow" ng-if="!chatClosed">
    <div id="chatbotTitle">
        <div id="botLogoText">
            <div id="botLogo">
                <img id="iPPiLogo" src="~/images/logo-icon.PNG">
            </div>
            <div id="iPPiBotText">iPPi Bot</div>
        </div>
        <div id="closeWindow" ng-click="closeWindow()"><i class="fas fa-times"></i></div>
    </div>
    <div id="convoBox" ng-init="firstConv()">
        <div ng-repeat="convo in conversation">
            <div ng-if="$even" class="botMessage">
                <div class="question">
                    <div ng-init="scrollDown()" ng-if="convo.Answers[0].AnswerType == 'TEXT' || convo.Answers[0].AnswerType == 'NONE'">
                        {{convo.Question}}
                    </div>
                    <div ng-if="convo.Answers[0].AnswerType == 'RADIO_BUTTON'">
                        <div id="questionLabel">{{convo.Question}}</div>
                        <label ng-repeat="option in convo.Answers">
                            <input type="radio" ng-click="selectRadio()" ng-init="scrollDown()" ng-model="input.Radio" ng-value="option.Answer" /> {{option.Answer}}
                        </label>
                    </div>
                    <div ng-if="convo.Answers[0].AnswerType == 'DROPDOWN'">
                        <div id="questionLabel">{{convo.Question}}</div>
                        <div>
                            <select class="selectBox" ng-model="input.dropdown" ng-init="scrollDown()" ng-options="option.Answer for option in convo.Answers" ng-change="selectDropdown()">
                            </select>
                        </div>
                    </div>
                    <div ng-if="convo.Answers[0].AnswerType == 'MULTI_SELECT'">
                        <div id="questionLabel">{{convo.Question}}</div>
                        <label ng-repeat="option in convo.Answers">
                            <input type="checkbox" ng-init="scrollDown()" ng-click="selectCheckbox(convo,$index)" ng-model="input.checkbox[$index]" ng-value="option.Answer" /> {{option.Answer}}
                        </label>
                    </div>
                    <div ng-if="convo.Answers[0].AnswerType == 'NUMBER'">
                        <div id="questionLabel">{{convo.Question}}</div>
                        <input type="number" ng-click="selectNumber()" ng-keydown="$event.keyCode == 13 && selectNumber()" ng-init="scrollDown()" ng-model="input.Number" />
                    </div>
                    <div ng-if="convo.Answers[0].AnswerType == 'DATE'">
                        <div id="questionLabel">{{convo.Question}}</div>
                        <input type="datetime-local" ng-click="selectDate()" ng-init="scrollDown()" ng-model="input.Date" />
                    </div>
                </div>
            </div>
            <div ng-if="$odd" ng-init="scrollDown()" class="userMessage"><div class="response">{{convo.Question}}</div></div>
        </div>
    </div>
    <div id="botInput">
        <input id="userInput" type="text" ng-model="input.Text" ng-keydown="$event.keyCode == 13 && submitInput()" placeholder="Your text here..." />
        <div id="submitBtn" ng-click="submitInput()"><i class="fas fa-arrow-right"></i></div>
    </div>
</div>
